.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  span.back-arrow {
    display: flex;
    position: relative;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 25px;
    color: black;
    cursor: pointer;
  }
  
  .logo {
    display: flex;
    position: relative;
    max-width: 15%;
    margin: 1%;
    margin-right: 3%;
  }