.footer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 50%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    border-top: 1px solid #7B7B7B ;
    margin-top: 4%;
    font-size: 16px;
    text-align: center;
  }